<main>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
              <div class="text-center lg:text-left">
                <h1 class="text-3xl text-center font-bold">Gestion de proyectos</h1>
                <img class="imagenLogin" src="../../../assets/imagenes/uleam.png" />
              </div>
              <h1 class="text-center font-bold">Registro</h1>
              <!-- Mostrar mensaje de error si las contraseñas no coinciden -->
              <br>
              <div *ngIf="contrasenasNoCoinciden" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{mensajeError}}
                </span>
              </div>
              <br>
              <label class="label">
                <span class="label-text font-sans font-semibold">Nombre</span>
              </label>
              <input type="text" placeholder="Nombre" formControlName="nombre" class="input input-bordered font-sans" />

              <label class="label">
                <span class="label-text font-sans font-semibold">Email</span>
              </label>
              <input type="text" placeholder="email" formControlName="email" class="input input-bordered font-sans" />

              <label class="label">
                <span class="label-text font-sans font-semibold">Password</span>
              </label>
              <input type="password" placeholder="password" formControlName="password" class="input input-bordered font-sans" />

              <input type="password" placeholder="Repite contraseña" formControlName="password2" class="input input-bordered font-sans" />

            </div>
            <button type="submit" class="btn bg-primary font-sans font-semibold">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
