<main>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
              <div class="form-control">
                  <div class="text-center lg:text-left">
                    <h1 class="text-3xl text-center font-bold">Gestion de Proyectos</h1>
                    <img
                      class="imagenLogin"
                      src="../../../assets/imagenes/uleam.png"
                    />
                  </div>
                  <h1 class=" text-center font-bold">Login</h1>
    
                  <label class="label">
                    <span class="label-text font-sans font-semibold">Email</span>
                  </label>
                  <input type="text" placeholder="email" formControlName="email" class="input input-bordered font-sans"/>
                  <label class="label">
                    <span class="label-text font-sans font-semibold">Password</span>
                  </label>
                  <input type="password" placeholder="password" formControlName="password" class="input input-bordered font-sans"/>
                </div>

          </form>
          <button class="btn btn-primary font-sans font-semibold" (click)="submitFormulario()">
            Login
          </button>
          <div class="signup_link">
            No eres usuario? <a routerLink="/Registro">registrate</a>
          </div>
          </div>
        </div>
      </div>
    </div>
</main>

