<body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-5">
          <h1 class="display-4">Error</h1>
          <p class="lead">Ocurrió un error al cargar la página.</p>
          <a href="/" class="btn btn-primary">Volver a la página principal</a>
        </div>
      </div>
    </div>
  
    <!-- Agrega el enlace al archivo JavaScript de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>